    body {
      font-family: serif;
      margin: 20px;
      background-color: #E7F2EF;
      background-image: url(planta.jpg);
      background-size: cover;
    }
    button:hover{
      background-color: #96A78D;
    }
    button{
      background-color: #19183B;
      color: white;
      border-radius: 7px;
    }
    .button-1{
      font-size: 17px;
      width: 150px;
      height: 50px;
    }
    h1 {
      text-align: center;
    }
    label, input {
      display: block;
      margin: 10px 0;
    
    }
    label{
        color: #333;
    }
    input[type="number"],select {
      width: 200px;
      margin: 0px;
      padding: 0px;
      background-color: #19183B;
      border-radius: 6px;
      color: white;
    }
    fieldset{
      border: 2px solid #19183B;
    }
    table{
      border-collapse: collapse;
    }
    td,th{
      border: 1px solid black;
    }
    th{
      background-color: #19183B;
      color: white;
    }
    .checkbox-contenedor{
      margin-top: 5px;
      display: flex;
    }
    .custom-checkbox{
      display: none;
    }
    .custom-label{
      display: inline-block;
      margin-left: 10px;
      width: 15px;
      height: 15px;
      background-color: white;
      border: 2px solid gray;
      border-radius: 7px;
      cursor: pointer;
      position: relative;
    }
    .custom-checkbox:checked + .custom-label {
      background-color: #93f384;
    }
    .custom-label::after {
      content: '';
      position:absolute;
      width: 2px;
      height: 7px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: 2px;
      left: 6px;
      display: none;
    }
    .custom-checkbox:checked + .custom-label::after{
      display:block;
    }
    .logo_1{
      width: 100px;
      border-radius: 50%;
      box-shadow: 5px 5px 5px black;
    }
    .resultado {
      position: relative;
      margin: 20px;
      min-height: 300px;
      height: auto;
      font-weight: bold;
      background-color: #708993;
      overflow: hidden;
      overflow-y: auto;
      box-shadow: 5px 5px 5px #0E2F5C;
      border-radius: 15px;
    }
    .contenedor {
      display: flex;
      justify-content: center;
      height: 1000px;
    }

    .box1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px;
      padding: 15px;
      background-color: #A1C2BD;
      width: 300px;
      height: 100%;
      box-shadow: 5px 5px 5px #19183B;
      border: 1px solid #19183B;
      border-radius: 15px;
    }
    .cerrar {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
    }
    @media (max-width: 600px){
        body{
            font-size: 14px;
        }
        .resultado{
            position: absolute;
            z-index: 1;
            height: auto;
        }
        .box1{
            z-index: 0;
        }
        .cerrar {
        position: absolute;
        top: 10px; right: 15px;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
        }
        td,th{
        font-size: 13px;
        }
        img{
          width: 300px;
        }

    }
